@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
}

body {
    font-family: "Poppins";
    color: var(--primary-text-color);
}

p {
    font-family: "Roboto";
    color: var(--secondary-text-color);
    line-height: 1.4rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
    align-items: center;
}

.container {
    max-width: 1100px;
    margin-inline: auto;
    overflow: hidden;
}

nav {
    background-color: #f3faff;
    box-shadow: 0 0 4px #bbd0e2;
    position: fixed;
    top: 0;
    z-index: 99;
    left: 0;
    right: 0;
}

.main-nav {
    justify-content: space-between;
    padding: 8px 0px;
}

.logo {
    width: 80px;
    mix-blend-mode: multiply;
}

.link {
    gap: 16px;
}

.hover-link {
    cursor: pointer;
    transition: all 0.3s ease;
}

.hover-link:hover {
    color: var(--secondary-text-color);
    border: 1px var(--secondary-text-color) #C4DFDF;
    border-radius: 10px;
    box-shadow: 1px 1px 8px #d4ecff;
    transform: translateY(-2px);
}

.nav-item.active {
    color: blue;
}

.search-bar {
    height: 32px;
    gap: 8px;
}

.news-input {
    width: 200px;
    height: 100%;
    padding-inline: 12px;
    border-radius: 4px;
    border: 2px solid #bbd0e2;
    font-family: "Roboto";
}

.submit {
    height: 100%;
    width: 30px;
    border: none;
    background-color: var(--accent-color);
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

.submit:hover {
    background-color: var(--accent-color-dark);
}


/* ***************************** main**************************** */


main {
    margin-top: 100px;
}

.cards-container {
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
    align-items: start;
}

.card {
    width: 360px;
    min-height: 400px;
    box-shadow: 0 0 4px #d4ecff;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    overflow: hidden;
    transition: all 0.3s ease;
}

.card:hover {
    box-shadow: 1px 1px 8px #d4ecff;
    background-color: #f9fdff;
    transform: translateY(-2px);
}

.card-header img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content {
    padding: 12px;
}

.news-source {
    margin-block: 12px;
}

.nav-links .fas {
    display: none;
}

@media only screen and (max-width: 600px) {

    .main-nav img {
        margin-left: 20px;
    }


    .main-nav {
        position: relative;
    }

    .search-bar {
        right: 30px;
        position: absolute;
    }

    .news-input {
        width: 60%;
    }

    .nav-links .fas {
        display: block;
        font-size: 20px;
        margin-right: 20px;
    }

    .nav-links ul {
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 25px;
        flex-direction: column;
        z-index: 2;
        transition: right 0.5s;
    }

    .nav-links ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fas {
        position: absolute;
        top: 25px;
        right: 25px;
        cursor: pointer;
    }

    .cards-container {
        margin-left: 8px;
    }
}